---
---

<main id="content" class="block-container">
  <div class="content-measure">
    
    <h1>NHS.UK Alpha</h1>

    <p>alpha.nhs.uk is a new service to test and iterate new aspects of the
    NHS.UK service. <a href="http://digital.nhs.uk">Read more about the project
    on our blog.</a></p>

    <h2>Conditions</h2>

    <ul>
      {% assign condition_pages = site.pages | sort: "condition" %}
      {% for p in condition_pages %}
        {% if p.condition %}{% unless p.nav_order > 1 %}
          <li><a href="{{ p.url }}">{{ p.condition }}</a></li>
        {% endunless %}{% endif %}
      {% endfor %}
    </ul>

  </div>
</main>
