/*
  Note: fonts at the moment are being served by fonts.com
  This will need to change ;)
*/

// https://github.com/typekit/webfontloader
// Loading class
.wf-loading {
  letter-spacing: 0.25px;
  .heading-xlarge,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    letter-spacing: 0.05px;
  }
}

body {
  font-family: "Frutiger Neue W01 Book", Arial, sans-serif;
  font-size: map-get($type-small, body);
  line-height: map-get($type-small, leading-body);
  color: $text-colour;

  @include media(large) {
    font-size: map-get($type-large, body);
    line-height: map-get($type-large, leading-body);
  }
}

.heading-xxlarge {
  font-family: "Frutiger Neue W01 Bd", Arial, sans-serif;
  font-weight: normal;
  font-size: map-get($type-small, xxlarge);
  line-height: map-get($type-small, leading-xxlarge);
  margin: 36px 0;

  @include media(large) {
    font-size: map-get($type-large, xxlarge);
    line-height: map-get($type-large, leading-xxlarge);
  }
}

h1 {
  font-family: "Frutiger Neue W01 Bd", Arial, sans-serif;
  font-weight: normal;
  font-size: map-get($type-small, xlarge);
  line-height: map-get($type-small, leading-xlarge);
  margin: 36px 0 24px 0;

  @include media(large) {
    font-size: map-get($type-large, xlarge);
    line-height: map-get($type-large, leading-xlarge);
  }
}

h2 {
  font-family: "Frutiger Neue W01 Bd", Arial, sans-serif;
  font-weight: normal;
  font-size: map-get($type-small, large);
  line-height: map-get($type-small, leading-large);
  margin: 36px 0 18px 0;

  @include media(large) {
    font-size: map-get($type-large, large);
    line-height: map-get($type-large, leading-large);
  }
}

h3 {
  font-family: "Frutiger Neue W01 Bd", Arial, sans-serif;
  font-weight: normal;
  font-size: map-get($type-small, medium);
  line-height: map-get($type-small, leading-medium);
  margin: 24px 0 18px 0;

  @include media(large) {
    font-size: map-get($type-large, medium);
    line-height: map-get($type-large, leading-medium);
  }
}

h4, h5, h6 {
  font-family: "Frutiger Neue W01 Bd", Arial, sans-serif;
  font-weight: normal;
  font-size: map-get($type-small, body);
  line-height: map-get($type-small, leading-body);
  margin: 24px 0 18px 0;

  @include media(large) {
    font-size: map-get($type-large, body);
    line-height: map-get($type-large, leading-body);
  }
}

p {
  margin: 18px 0;
}

ul {
  margin-bottom: 18px;
  list-style-type: disc;
  list-style-position: outside;
}

ol {
  margin-bottom: 18px;
  list-style-type: decimal;
  list-style-position: outside;
}

li {
  margin: 0 0 12px 1.25em;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

a {
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: $link-visited-colour;
  }

  &:hover {
    color: $link-highlight-colour;
  }

  &:focus {
    color: $text-colour;
    background-color: $focus-colour;
    outline: 3px solid $focus-colour;
  }
}
