html {
  background-color: $black;
}

body {
  background: $page-colour;
}

.block-container {
  max-width: 960px;
  padding: 0 5%;
  margin: 0 auto;
}

#global-header {
  background-color: $blue;
  border-bottom: 6px solid #e5f0f9;

  @extend %contain-floats;

  .header-container {
    @extend .block-container;
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }
}

#global-footer {
  background-color: $black;
  color: $grey-3;
  padding: 2rem 0;
  border-top: 6px solid $grey-1;
  font-size: map-get($type-small, xsmall);
  line-height: map-get($type-small, leading-xsmall);

  @include media(large) {
    font-size: map-get($type-large, xsmall);
    line-height: map-get($type-large, leading-xsmall);
  }

  a {
    color: $grey-3;
  }

  .footer-container {
    @extend .block-container;
  }
}

// Main content to have approx 65-75 character width
.content-measure {
  max-width: 34em;
}
