$site-width: 960px;

$gutter: 30px;
$gutter-half: $gutter/2;

%site-width-container {
  max-width: $site-width;
  @include ie-lte(8){
    width: $site-width;
  }

  margin: 0 $gutter-half;
  @include media(tablet){
    margin: 0 $gutter;
  }
  @include media($min-width: ($site-width + $gutter * 2)){
    margin: 0 auto;
  }
}
