body {
  background: $page-colour;
}

#global-header {
  background-color: $blue;
  border-bottom: 6px solid #e5f0f9;

  @extend %contain-floats;

  .header-container {
    max-width: 960px;
    margin: 0 15px;
    padding: 0;

//    @include media(tablet) {
//      margin: 0 auto;
//      padding: 0 30px;
//    }
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }
}
