body {
  background: $page-colour;
}

#global-header {
  background-color: $blue;
  border-bottom: 6px solid #e5f0f9;

  @extend %contain-floats;

  .header-container {
    @extend %site-width-container;
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }
}

.condition-navigation {
  @extend %site-width-container;
  @extend %contain-floats;

  h1 { @extend .heading-xlarge; }

  ol {
    @extend %contain-floats;

    counter-reset: section;
    font-size: 15px;
    margin: 0;
    padding: 0;

    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-colour;
  }

  li {
    white-space: nowrap;
    margin-bottom: 0;
    padding-bottom: 4px;
  }

  li:before {
    counter-increment: section;
    content: counter(section) ".";
    margin-right: 0.5rem;
  }
}

#content {
  @extend %site-width-container;
  @extend %contain-floats;

  padding-top: 2rem;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-top: 1rem;
    padding-bottom: $gutter*3;
  }

  h1 { @extend .heading-large; }
  h2 { @extend .heading-medium; }
  h3 { @extend .heading-small; }

  ul { @extend .list-bullet; }
  ol { @extend .list-number; }
}

.pagination {
  @extend %site-width-container;
  @extend %contain-floats;

  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 2px solid $border-colour;

  @include breakpoint(break-1) {
    .previous-page,
    .next-page {
      float: left;
      width: 50%;
    }

    .next-page {
      float: right;
      text-align: right;
    }
  }

  a {
    display: inline-block;
    text-decoration: none !important;
  }

  .prefix {
    font-size: 15px;
    color: $text-colour;
  }

  .title {
    display: block;
    text-decoration: underline;
  }
}
