.condition-navigation {
  @extend %contain-floats;

  h1 { @extend .heading-xlarge; }

  ol {
    @extend %contain-floats;
    font-size: 15px;
    border-bottom: 1px solid $border-colour;
  }

  li {
    white-space: nowrap;
  }
}
