.condition-navigation {
  @extend %contain-floats;

  h1 { @extend .heading-xlarge; }

  ol {
    @extend %contain-floats;

    font-size: map-get($type-small, small);
    border-bottom: 1px solid $border-colour;

    @include media(large) {
      font-size: map-get($type-large, small);
    }
  }

  li {
    white-space: nowrap;
  }
}
