.condition-navigation {
  @extend %contain-floats;
  @extend .content-measure;

  ol {
    font-size: map-get($type-small, small);
    padding-bottom: 24px;
    border-bottom: 1px solid $border-colour;

    @include media(large) {
      font-size: map-get($type-large, small);
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
  }

  li {
    margin-bottom: 0;
    padding-bottom: 5px;

    @include media(large) {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  a {
    display: inline-block;
    padding: 1px 2px;
  }
  a:focus {
    // different focus handling to prevent trailing outline in column layout
    // background colour is still yellow
    outline: 0;
  }
}

.condition-navigation + #content h1 {
  @extend .heading-xlarge;
}
