.pagination {
  @extend %contain-floats;
  @extend .measure;

  margin: 48px 0;
  padding-top: 18px;
  border-top: 2px solid $border-colour;

  .previous-page {
    margin-top: 12px;
  }

  @include media(large) {

    .previous-page {
      margin-top: 0;
      float: left;
      width: 50%;
    }
    .next-page {
      float: right;
      text-align: right;
      width: 50%;
    }
  }

  a {
    display: inline-block;
    text-decoration: none !important;
  }

  .prefix {
    font-size: map-get($type-small, xsmall);
    color: $text-colour;

    @include media(large) {
      font-size: map-get($type-large, xsmall);
    }
  }

  .title {
    display: block;
    text-decoration: underline;
  }
}
