/*
  Based on Perfect Fourth / 1.333
  http://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Open%2BSans&font-family=%27Open%20sans%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
*/

$type-large: (
  xlarge: 56px,
  leading-xlarge: 60px,

  large: 32px,
  leading-large: 36px,

  medium: 26px,
  leading-medium: 30px,

  body: 18px,
  leading-body: 24px,

  small: 16px,
  leading-small: 24px,

  xsmall: 14px,
  leading-xsmall: 24px,
);
